/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.exahtml {
  font-size: 10px; }

body {
  overflow-x: hidden; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 6rem;
  padding: 0rem 1.6rem;
  border-bottom: 1px solid #999;
  font-weight: bold;
  font-size: 1.2rem;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .header.bg {
    border-bottom: 1px solid #222222;
    background: #222222; }
  .header__logo {
    width: 13.6rem;
    height: 2.4rem;
    margin: 1.8rem 0;
    background: url(../img/main_logo.png) no-repeat 50% 50%;
    background-size: contain;
    text-indent: -9999px; }
  .header-nav-gnb {
    display: none; }
  .header-nav-lang {
    width: initial; }
    .header-nav-lang__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin-right: 4.6rem; }
    .header-nav-lang__item {
      margin-left: 1.6rem;
      font-size: 1.2rem; }
      .header-nav-lang__item:nth-child(1) {
        margin-left: 0; }
    .header-nav-lang__link {
      height: 6rem;
      line-height: 6rem;
      color: #fff; }
      .header-nav-lang__link--color-gray {
        color: #999; }
    .header-nav-lang__modal-btn {
      display: none; }
    .header-nav-lang__moblie-btn {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 200;
      width: 6rem;
      height: 6rem;
      border: none;
      background: transparent;
      outline: none;
      cursor: pointer; }
      .header-nav-lang__moblie-btn--line-top {
        display: inline-block;
        width: 2rem;
        height: 0.1rem;
        margin-left: 0rem;
        background: #fff;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        position: absolute;
        top: 2.5rem;
        right: 2rem; }
      .header-nav-lang__moblie-btn--line-mid {
        display: inline-block;
        width: 2rem;
        height: 0.1rem;
        margin-left: 0rem;
        background: #fff;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        position: absolute;
        top: 3rem;
        right: 2rem; }
      .header-nav-lang__moblie-btn--line-bottom {
        display: inline-block;
        width: 2rem;
        height: 0.1rem;
        margin-left: 0rem;
        background: #fff;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        position: absolute;
        top: 3.5rem;
        right: 2rem; }
      .header-nav-lang__moblie-btn--line-top.on {
        display: inline-block;
        width: 2rem;
        height: 0.1rem;
        margin-left: 0rem;
        background: #fff;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        background: #222222;
        -webkit-transform: translateY(5px) rotate(45deg);
            -ms-transform: translateY(5px) rotate(45deg);
                transform: translateY(5px) rotate(45deg); }
      .header-nav-lang__moblie-btn--line-mid.on {
        opacity: 0; }
      .header-nav-lang__moblie-btn--line-bottom.on {
        display: inline-block;
        width: 2rem;
        height: 0.1rem;
        margin-left: 0rem;
        background: #fff;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        background: #222222;
        -webkit-transform: translateY(-5px) rotate(-45deg);
            -ms-transform: translateY(-5px) rotate(-45deg);
                transform: translateY(-5px) rotate(-45deg); }

.nav-snb__bg {
  display: none; }

.nav-snb__bg.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #222222;
  opacity: 0.3; }

.nav-snb-container {
  position: fixed;
  top: 0;
  right: -80%;
  width: 80%;
  height: 100%;
  background: #fff;
  z-index: 100;
  -webkit-transition: right 0.6s;
  -o-transition: right 0.6s;
  transition: right 0.6s; }
  .nav-snb-container--right {
    position: fixed;
    right: 0; }

.nav-snb-header {
  display: none; }

.nav-snb__list {
  margin-top: 6rem; }

.nav-snb__item {
  font-size: 1.6rem;
  border-bottom: 1px solid #999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .nav-snb__item span {
    display: block;
    position: relative;
    padding: 2rem; }
    .nav-snb__item span.active {
      color: #ED1C2A; }
    .nav-snb__item span i {
      position: absolute;
      top: 0;
      right: 2rem;
      font-size: 2rem;
      line-height: 6rem;
      color: #ED1C2A; }
      .nav-snb__item span i.none {
        display: none; }
  .nav-snb__item ul {
    display: none;
    padding: 2rem 0;
    background: #EEE; }
    .nav-snb__item ul li {
      padding: 1rem 2rem;
      font-size: 1.4rem;
      cursor: pointer; }
      .nav-snb__item ul li a {
        color: #222222; }

@media (min-width: 1250px) {
  .header {
    position: relative;
    height: 10rem;
    padding: 0rem 3.7rem 0rem 7rem;
    border: none;
    font-size: 1.6rem; }
    .header__logo {
      width: 21.2rem;
      height: 4rem;
      margin: 3rem 0;
      cursor: pointer; }
    .header-nav-gnb {
      display: block; }
      .header-nav-gnb__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .header-nav-gnb__item__link {
        display: inline-block;
        position: relative;
        width: 17rem;
        height: 10rem;
        line-height: 10rem;
        text-align: center;
        z-index: 200;
        -webkit-transition: 0s;
        -o-transition: 0s;
        transition: 0s;
        color: #fff; }
      .header-nav-gnb-submenu {
        position: absolute;
        padding: 1.3rem 0;
        font-size: 1.4rem;
        visibility: hidden;
        opacity: 0;
        z-index: 99; }
        .header-nav-gnb-submenu li {
          padding: 1.3rem 2rem; }
        .header-nav-gnb-submenu__link {
          display: inline-block;
          width: 13rem;
          opacity: 0;
          -webkit-transition: all 0s;
          -o-transition: all 0s;
          transition: all 0s;
          color: #fff; }
        .header-nav-gnb-submenu__link.on {
          opacity: 1;
          -webkit-transition: 0.8s;
          -o-transition: 0.8s;
          transition: 0.8s; }
          .header-nav-gnb-submenu__link.on[class*=--delay-01] {
            -webkit-transition-delay: 0.1s;
                 -o-transition-delay: 0.1s;
                    transition-delay: 0.1s; }
          .header-nav-gnb-submenu__link.on[class*=--delay-02] {
            -webkit-transition-delay: 0.2s;
                 -o-transition-delay: 0.2s;
                    transition-delay: 0.2s; }
          .header-nav-gnb-submenu__link.on[class*=--delay-03] {
            -webkit-transition-delay: 0.3s;
                 -o-transition-delay: 0.3s;
                    transition-delay: 0.3s; }
          .header-nav-gnb-submenu__link.on[class*=--delay-04] {
            -webkit-transition-delay: 0.4s;
                 -o-transition-delay: 0.4s;
                    transition-delay: 0.4s; }
          .header-nav-gnb-submenu__link.on[class*=--delay-05] {
            -webkit-transition-delay: 0.5s;
                 -o-transition-delay: 0.5s;
                    transition-delay: 0.5s; }
          .header-nav-gnb-submenu__link.on[class*=--delay-06] {
            -webkit-transition-delay: 0.6s;
                 -o-transition-delay: 0.6s;
                    transition-delay: 0.6s; }
          .header-nav-gnb-submenu__link.on[class*=--delay-07] {
            -webkit-transition-delay: 0.7s;
                 -o-transition-delay: 0.7s;
                    transition-delay: 0.7s; }
        .header-nav-gnb-submenu::before {
          content: "";
          display: inline-block;
          position: absolute;
          top: -100px;
          width: 100%;
          height: 0;
          visibility: hidden;
          opacity: 0;
          -webkit-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s; }
      .header-nav-gnb__item:hover .header-nav-gnb-submenu {
        visibility: visible;
        opacity: 1; }
      .header-nav-gnb__item:hover .header-nav-gnb-submenu::before {
        background: -webkit-gradient(linear, left top, right top, from(#FF6F38), to(#EF433F));
        background: -o-linear-gradient(left, #FF6F38 0%, #EF433F 100%);
        background: linear-gradient(90deg, #FF6F38 0%, #EF433F 100%);
        visibility: visible;
        height: calc(100% + 10rem);
        opacity: 1;
        z-index: -1; }
    .header-nav-lang {
      width: 28.1rem; }
      .header-nav-lang__list {
        margin-right: 0rem; }
      .header-nav-lang__item {
        font-size: 1.4rem; }
      .header-nav-lang__link {
        height: 10rem;
        line-height: 10rem; }
      .header-nav-lang__modal-btn {
        display: block;
        margin-left: 4rem;
        font-size: 2.4rem;
        line-height: 10rem;
        cursor: pointer;
        color: #fff; }
      .header-nav-lang__moblie-btn {
        display: none; }
  .nav-snb__bg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #222222;
    opacity: 0.9; }
  .nav-snb-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: initial;
    max-width: 100rem;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .nav-snb-container--right {
      position: absolute;
      right: 0; }
  .nav-snb--hide {
    display: none; }
  .nav-snb-header {
    display: block;
    width: 100%;
    height: 6rem;
    font-weight: bold;
    font-size: 2.4rem;
    background: #ED1C2A;
    color: #fff;
    text-align: center;
    line-height: 6rem; }
    .nav-snb-header__close-btn {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 5rem;
      cursor: pointer; }
  .nav-snb__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 3rem;
    font-size: 1.6rem;
    text-align: center; }
    .nav-snb__list i {
      display: none; }
  .nav-snb__item {
    width: 25%;
    padding: 0rem;
    border-bottom: none; }
    .nav-snb__item span {
      display: block;
      margin: 0 2% 2rem 2%;
      padding: 0;
      padding-bottom: 2rem;
      border-bottom: 1px solid #aaa;
      font-weight: bold;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .nav-snb__item ul {
      display: block !important;
      padding: 0;
      background: transparent; }
      .nav-snb__item ul li {
        padding: 1rem 0; }
        .nav-snb__item ul li a {
          font-size: 1.5rem; }
          .nav-snb__item ul li a:hover {
            color: #ED1C2A; } }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 68%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .slick-dots .slick-active button::before {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 2.2rem;
    background: url(../img/slide_nav_icon.png) no-repeat 50% 50%;
    background-size: contain;
    opacity: 1; }
  .slick-dots .slick-active button::after {
    width: 1.6rem;
    height: 1.6rem;
    background: url(../img/language_icon_gif.gif) no-repeat 50% 50%;
    background-size: contain;
    opacity: 1; }
  .slick-dots li {
    margin: 0 1.5rem; }
    .slick-dots li button {
      position: relative;
      width: 2.6rem;
      height: 2.6rem;
      border: none;
      background: transparent;
      text-indent: -9999px;
      outline: none; }
      .slick-dots li button::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 1.3rem;
        background: #999;
        opacity: 0.3;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
      .slick-dots li button::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 1rem;
        height: 1rem;
        border-radius: 0.5rem;
        background: #999;
        opacity: 0.5;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }

.main {
  position: relative; }
  .main__slide-container--web {
    display: none; }
  .main__slide-container img {
    outline: none; }
  .main-info {
    position: absolute;
    top: 34%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center; }
    .main-info__logo {
      width: 28rem;
      height: 5rem;
      margin: 0 auto;
      margin-bottom: 2rem;
      background: url(../img/main_logo.png) no-repeat 50% 50%;
      background-size: contain;
      text-indent: -9999px; }
    .main-info__text {
      font-size: 1.2rem;
      color: #fff;
      letter-spacing: 0.4em; }
    .main-info__gif-icon {
      position: absolute;
      top: 11%;
      width: 27.8rem;
      height: 3.2rem;
      margin: 0 auto;
      background: url(../img/language_icon_gif.gif) no-repeat 50% 50%;
      background-size: contain;
      text-indent: -9999px; }
  .main-slide-dots {
    position: absolute;
    top: 52%;
    width: 100%;
    text-align: center;
    font-size: 1.4rem; }
    .main-slide-dots__item span {
      color: #fff; }
  .main__online-inquiry {
    display: none; }
  .main__scroll-icon {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    opacity: 1;
    -webkit-animation: scrollIcon 1.2s infinite;
            animation: scrollIcon 1.2s infinite; }
    .main__scroll-icon i {
      font-size: 3rem;
      margin-bottom: .4rem; }
    .main__scroll-icon--font-roboto {
      font-family: 'Roboto', sans-serif;
      opacity: 0.6; }

@media (min-width: 800px) {
  .main {
    width: 100%;
    height: 100vh;
    margin-top: 0rem; }
    .main__slide-container--web {
      display: block; }
    .main__slide-container--moblie {
      display: none; }
    .main__slide-container img {
      height: 100vh;
      -o-object-fit: cover !important;
         object-fit: cover !important; }
      .main__slide-container img.slick-active {
        -webkit-animation: slideImg 4.2s linear both .5s;
                animation: slideImg 4.2s linear both .5s; }
    .main-info {
      position: absolute;
      top: 50%; }
      .main-info__logo {
        width: 64rem;
        height: 11.6rem; }
      .main-info__text {
        font-size: 2rem;
        letter-spacing: 1em; }
      .main-info__gif-icon {
        position: absolute;
        top: 13.5%;
        width: 63.5rem;
        height: 7.5rem; }
    .main-slide-dots {
      position: absolute;
      top: 75%;
      font-size: 1.6rem; }
    .main__scroll-icon {
      font-size: 1.4rem; }
      .main__scroll-icon i {
        font-size: 3rem;
        margin-bottom: 1rem; }
  .slick-dots {
    position: absolute;
    top: 83%; }
    .slick-dots .slick-active button::before {
      width: 7rem;
      height: 7rem;
      border-radius: 4rem; }
    .slick-dots .slick-active button::after {
      width: 2.6rem;
      height: 2.6rem;
      border-radius: 1.3rem; }
    .slick-dots li {
      margin: 0 3rem; } }

@media (min-width: 1250px) {
  .main {
    position: relative;
    margin-top: -10rem; }
    .main::after {
      content: "";
      display: block;
      position: absolute;
      top: 10rem;
      left: 10rem;
      width: 100vw;
      height: 1px;
      background: #fff;
      opacity: 0.3; }
    .main::before {
      content: "";
      display: block;
      position: absolute;
      top: 10.1rem;
      left: 10rem;
      z-index: 1;
      width: 1px;
      height: 100%;
      background: #fff;
      opacity: 0.3; }
    .main-slide-dots {
      display: none; }
    .main__online-inquiry {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      font-size: 1.4rem; }
      .main__online-inquiry::after {
        display: inline-block;
        content: "";
        width: 1rem;
        height: 30rem;
        background: -webkit-gradient(linear, left top, left bottom, from(#ff6f37), to(#ee403f));
        background: -o-linear-gradient(top, #ff6f37 0%, #ee403f 100%);
        background: linear-gradient(to bottom, #ff6f37 0%, #ee403f 100%);
        vertical-align: middle; }
      .main__online-inquiry a {
        position: relative;
        color: #fff;
        line-height: 2rem; }
        .main__online-inquiry a::after {
          display: inline-block;
          content: "";
          width: 10rem;
          height: 1px;
          margin: 0 1.4rem;
          background: #fff;
          vertical-align: 0.4rem; }
        .main__online-inquiry a i {
          font-size: 2.6rem;
          margin-right: 1rem;
          vertical-align: -0.6rem; }
  .slick-dots {
    display: block;
    position: absolute;
    top: 50%;
    left: 8.75rem;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); }
    .slick-dots .slick-active button {
      font-weight: bold;
      opacity: 1; }
      .slick-dots .slick-active button::before {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      .slick-dots .slick-active button::after {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    .slick-dots li {
      margin: 4rem 0rem;
      padding: 1.6rem 0;
      cursor: pointer; }
      .slick-dots li button {
        text-indent: 0;
        color: #fff;
        opacity: 0.6;
        cursor: pointer; }
        .slick-dots li button .text {
          display: inline-block;
          width: 10rem;
          padding-left: 6rem;
          font-weight: 700;
          font-size: 1.5rem;
          letter-spacing: -0.1rem;
          text-align: left; } }

@-webkit-keyframes scrollIcon {
  0% {
    -webkit-transform: translateY(0.6rem);
            transform: translateY(0.6rem);
    opacity: 0.2; }
  50% {
    -webkit-transform: translateY(-0.6rem);
            transform: translateY(-0.6rem);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0.6rem);
            transform: translateY(0.6rem);
    opacity: 0.2; } }

@keyframes scrollIcon {
  0% {
    -webkit-transform: translateY(0.6rem);
            transform: translateY(0.6rem);
    opacity: 0.2; }
  50% {
    -webkit-transform: translateY(-0.6rem);
            transform: translateY(-0.6rem);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0.6rem);
            transform: translateY(0.6rem);
    opacity: 0.2; } }

@-webkit-keyframes slideImg {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes slideImg {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.main-content {
  max-width: 170.4rem;
  margin: 0 auto; }
  .main-content__banner {
    width: 100%;
    font-weight: 300;
    font-size: 1.8rem;
    color: #fff;
    padding: 2.4rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .main-content__banner--left {
      background: -webkit-gradient(linear, left top, right top, from(#FF6F38), to(#EF433F));
      background: -o-linear-gradient(left, #FF6F38 0%, #EF433F 100%);
      background: linear-gradient(90deg, #FF6F38 0%, #EF433F 100%); }
    .main-content__banner--right {
      position: relative;
      overflow: hidden; }
  .main-content__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
  .main-content__title {
    padding-bottom: 3.5rem;
    font-weight: 500;
    text-transform: capitalize; }
  .main-content__txt {
    font-size: 1.3rem;
    color: #EEE; }
    .main-content__txt--big {
      padding-bottom: 2rem;
      font-size: 2.4rem; }
  .main-content__icon {
    display: none; }

.main-info-con {
  max-width: 170.4rem;
  margin: 0 auto; }
  .main-info-con__list {
    width: 100%; }
  .main-info-con__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-info-con__box {
    position: relative;
    width: 50%;
    padding-top: 33.75%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .main-info-con__box div {
      position: absolute;
      top: 50%;
      left: 8%;
      right: 8%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
  .main-info-con__img-box {
    position: relative;
    width: 50%;
    padding-top: 33.75%;
    font-size: 0;
    overflow: hidden; }
  .main-info-con__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/main_img.jpg) no-repeat 50% 50%;
    background-size: cover;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    .main-info-con__img[class*=--img02] {
      background: url(../img/main_img_02.jpg) no-repeat 50% 50%;
      background-size: cover; }
    .main-info-con__img[class*=--img03] {
      background: url(../img/main_img_03.jpg) no-repeat 50% 50%;
      background-size: cover; }
    .main-info-con__img[class*=--img04] {
      background: url(../img/main_img_04.jpg) no-repeat 50% 50%;
      background-size: cover; }
    .main-info-con__img--bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: -webkit-gradient(linear, left top, right top, from(#FF6F38), to(#EF433F));
      background: -o-linear-gradient(left, #FF6F38 0%, #EF433F 100%);
      background: linear-gradient(90deg, #FF6F38 0%, #EF433F 100%);
      opacity: 0;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }
  .main-info-con__icon {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 5rem;
    color: #fff;
    opacity: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
  .main-info-con__title {
    margin-bottom: 1.6rem;
    font-size: 1.6rem; }
  .main-info-con__txt {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #666; }
    .main-info-con__txt--hide {
      display: none; }
  .main-info-con__btn {
    display: none; }

.online-inquiry-form__img--bg {
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;
  background: url(../img/inquiry_img.jpg) no-repeat 50%;
  background-size: auto 100%; }
  .online-inquiry-form__img--bg h2 {
    margin-bottom: 3rem;
    font-size: 2.6rem;
    color: #fff;
    text-align: center; }

.online-inquiry-form form {
  padding: 0 1.6rem; }

.online-inquiry-form--left {
  width: 100%; }
  .online-inquiry-form--left input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #999;
    border-bottom-color: rgba(255, 255, 255, 0.2);
    outline: none; }
    .online-inquiry-form--left input:focus::-webkit-input-placeholder {
      color: transparent; }
    .online-inquiry-form--left input:focus::-moz-placeholder {
      color: transparent; }
    .online-inquiry-form--left input:focus:-ms-input-placeholder {
      color: transparent; }
    .online-inquiry-form--left input:focus::-ms-input-placeholder {
      color: transparent; }
    .online-inquiry-form--left input[type="text"] {
      padding: 1.6rem 0;
      color: #fff;
      opacity: 0.7; }
      .online-inquiry-form--left input[type="text"]:focus {
        opacity: 1;
        color: #fff; }
    .online-inquiry-form--left input::-webkit-input-placeholder {
      font-weight: bold;
      color: rgba(255, 255, 255, 0.8); }
    .online-inquiry-form--left input::-moz-placeholder {
      font-weight: bold;
      color: rgba(255, 255, 255, 0.8); }
    .online-inquiry-form--left input:-ms-input-placeholder {
      font-weight: bold;
      color: rgba(255, 255, 255, 0.8); }
    .online-inquiry-form--left input::-ms-input-placeholder {
      font-weight: bold;
      color: rgba(255, 255, 255, 0.8); }
    .online-inquiry-form--left input::placeholder {
      font-weight: bold;
      color: rgba(255, 255, 255, 0.8); }

.online-inquiry-form--right span {
  display: block;
  width: 100%;
  padding: 1.6rem 0;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.6); }

.online-inquiry-form--right textarea {
  width: calc(100% - 0.6rem);
  height: 16rem;
  border: 1px solid #999;
  font-weight: bold;
  border-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  resize: none;
  outline: none; }

.online-inquiry-form__check-box {
  padding: 2rem 0;
  font-size: 1.2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.6); }
  .online-inquiry-form__check-box p {
    display: inline-block;
    vertical-align: 2px; }
    .online-inquiry-form__check-box p a {
      color: rgba(255, 255, 255, 0.6);
      text-decoration: underline; }

.online-inquiry-form__btn {
  width: 100%;
  height: 5rem;
  border: none;
  font-weight: bold;
  font-size: 1.6rem;
  background: -webkit-gradient(linear, left top, right top, from(#FF6F38), to(#EF433F));
  background: -o-linear-gradient(left, #FF6F38 0%, #EF433F 100%);
  background: linear-gradient(90deg, #FF6F38 0%, #EF433F 100%);
  color: #fff;
  letter-spacing: 0.375em; }

@media (min-width: 800px) {
  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10rem;
    overflow: hidden; }
    .main-content__banner {
      position: relative;
      width: 50%;
      height: 30rem;
      padding: 3rem; }
    .main-content--right:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .main-content__title {
      padding-bottom: 10rem; }
    .main-content__txt--big {
      padding-bottom: 2.6rem; }
    .main-content__icon {
      display: block;
      position: absolute;
      bottom: 3rem;
      right: 3rem;
      font-size: 4rem; }
  .main-info-con {
    margin: 5rem auto 10rem auto; }
    .main-info-con__list {
      width: 100%; }
    .main-info-con__item {
      display: block;
      float: left;
      width: 25%; }
    .main-info-con__img-box {
      width: 100%;
      padding-top: 67.5%; }
    .main-info-con__box {
      width: 100%;
      padding-top: 67.5%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .main-info-con__box::after {
        display: inline-block;
        content: "";
        width: 2rem;
        height: 1rem;
        background: url(../img/main_link_arrow_bottom.png) no-repeat 50% 50%;
        background-size: contain; }
      .main-info-con__box--odd::after {
        position: absolute;
        top: -1rem;
        left: 9%;
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }
      .main-info-con__box--even::after {
        position: absolute;
        bottom: -1rem;
        left: 9%; }
    .main-info-con__title {
      font-size: 2rem; }
    .main-info-con__txt {
      font-size: 1.5rem; }
      .main-info-con__txt--hide {
        display: none; }
  .online-inquiry-form {
    width: 100%; }
    .online-inquiry-form__img--bg {
      position: relative;
      padding-top: 8rem;
      padding-bottom: 19rem;
      background: url(../img/inquiry_img.jpg) no-repeat 50% 50%;
      background-size: cover;
      background-attachment: fixed; }
      .online-inquiry-form__img--bg h2 {
        margin-bottom: 9rem;
        font-size: 3.6rem; }
    .online-inquiry-form form {
      max-width: 110rem;
      margin: 0 auto;
      padding: 0; }
    .online-inquiry-form--left {
      width: 47.5%;
      float: left;
      padding: 1.6rem 0; }
    .online-inquiry-form--right {
      width: 47.5%;
      float: right; }
    .online-inquiry-form__check-box {
      padding: 3rem 0 0 0;
      font-size: 1.4rem; }
    .online-inquiry-form__btn {
      position: absolute;
      bottom: -5rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 30rem;
      height: 10rem;
      cursor: pointer;
      outline: none; } }

@media (min-width: 1250px) {
  .main-content__banner {
    padding: 5rem;
    cursor: pointer; }
    .main-content__banner--right:hover img {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
  .main-content__title {
    padding-bottom: 9rem; }
  .main-content__txt {
    font-size: 1.8rem; }
    .main-content__txt--big {
      padding-bottom: 2.6rem;
      font-size: 4rem; }
  .main-content__icon {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    .main-content__icon:hover {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
  .main-info-con__item {
    cursor: pointer; }
    .main-info-con__item:hover .main-info-con__img {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .main-info-con__item:hover .main-info-con__img--bg {
      height: 100%;
      opacity: 0.5; }
    .main-info-con__item:hover .main-info-con__icon {
      top: 50%;
      opacity: 1; }
  .main-info-con__img-box {
    padding-top: 58.6854%; }
  .main-info-con__box {
    padding-top: 58.6854%; }
  .main-info-con__txt--hide {
    display: block; }
  .main-info-con__btn {
    display: block;
    margin-top: 3rem;
    width: 3.6rem;
    height: 3.6rem;
    border: 1px solid #999;
    color: #999;
    font-size: 2rem;
    line-height: 3.6rem;
    text-align: center; } }

.footer-slider-con {
  padding: 1.6rem; }
  .footer-slider-con__item {
    border: 1px solid #EEE; }
  .footer-slider-con__link {
    display: block;
    padding: 1rem;
    margin-top: -1px;
    margin-left: -1px;
    margin-bottom: -1px;
    border: 1px solid #EEE;
    background: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .footer-slider-con__link--white-space {
      padding: 2.5rem; }
    .footer-slider-con__link img {
      width: 50%;
      height: 3rem;
      margin: 0 auto; }

.footer-inner {
  margin-top: -6.8rem;
  padding: 7.5rem 1.6rem 2rem;
  font-size: 1.2rem;
  background: #EEE;
  color: #aaa; }

.footer-nav {
  margin-bottom: 2rem; }
  .footer-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-nav__list li {
      margin-right: 2rem; }
  .footer-nav__link {
    color: #999; }
    .footer-nav__link--color-accent {
      color: #ed8942; }

.footer-info {
  padding-bottom: 2rem; }
  .footer-info__title {
    float: left; }
    .footer-info__title:nth-child(3) {
      margin-left: 1rem; }
  .footer-info__contents {
    float: left; }

.footer-address {
  padding-bottom: 2rem; }

.footer-info02 {
  padding: 2rem 0; }
  .footer-info02__title {
    float: left; }
  .footer-info02__contents {
    padding-bottom: 1rem; }

.footer-copyright {
  color: #666; }
  .footer-copyright--color-accent {
    color: #ed8942; }

@media (min-width: 800px) {
  .footer {
    margin-top: 8rem; }
    .footer-slider-con {
      max-width: 170.4rem;
      margin: 0 auto; }
      .footer-slider-con__link {
        outline: none;
        padding: 3rem 1rem; }
        .footer-slider-con__link--white-space {
          padding: 4.5rem 0; }
        .footer-slider-con__link img {
          width: 88%;
          -o-object-fit: fill;
             object-fit: fill; }
    .footer-inner {
      margin-top: -10.8rem;
      padding: 13.5rem 1.6rem 2rem;
      font-size: 1.3rem;
      text-align: center; }
    .footer-nav {
      margin-bottom: 6rem; }
      .footer-nav__list {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .footer-nav__list li {
          margin: 0 2rem; }
    .footer-info {
      padding-bottom: 0rem;
      margin-right: 2rem;
      display: inline-block; }
      .footer-info__title:nth-child(3) {
        margin-left: 2rem; }
    .footer-address {
      display: inline-block;
      padding-bottom: 0rem;
      margin-right: 2rem; }
    .footer-info02 {
      display: inline-block;
      padding: 2rem 0 4rem; }
      .footer-info02__title {
        margin-left: 3rem; }
        .footer-info02__title:nth-child(1) {
          margin: 0; }
      .footer-info02__contents {
        float: left;
        padding-bottom: 0rem; }
    .footer-copyright {
      padding-bottom: 6rem; } }

@media (min-width: 1250px) {
  .footer-slider-con__link {
    padding: 3rem 0; }
    .footer-slider-con__link--white-space {
      padding: 5.5rem 0; }
    .footer-slider-con__link img {
      width: 100%;
      height: 5rem;
      -o-object-fit: contain;
         object-fit: contain; }
  .footer-inner {
    margin-top: -12.8rem;
    padding: 15.5rem 1.6rem 2rem;
    font-size: 1.4rem; }
  .footer-info02 {
    display: block;
    width: 65rem;
    margin: 0 auto; }
    .footer-info02__contents {
      float: left;
      padding-bottom: 0rem; } }