@import "./mixin";

.main-content {
    max-width: 170.4rem;
    margin: 0 auto;
    &__banner {
        width: 100%;
        font: {
            weight:300;
            size: 1.8rem
        }
        color: $color-white;
        padding: 2.4rem ;
        box-sizing: border-box;
        &--left {
            background: $bg-gradient;
        }
        &--right {
            position: relative;
            overflow: hidden;
        }
    }
    &__img {
            @include position($t:0,$l:0);
            z-index: -1;
            object-fit: cover;
            transition: 0.4s;
    }
    &__title {
        padding-bottom: 3.5rem;
        font-weight: 500;
        text-transform: capitalize
    }
    &__txt {
        font-size: 1.3rem;
        color: $bg-gray_02;
        &--big {
            padding-bottom: 2rem;
            font-size: 2.4rem;
        }
    }
    &__icon {
        display: none;
    }
}
.main-info-con {
    max-width: 170.4rem;
    margin: 0 auto;
    &__list {
        width: 100%;
    }
    &__item {
        display: flex;
    }
    &__box {
        position: relative;
        width: 50%;
        padding-top: 33.75%;
        background-color: $color-white;
        box-sizing: border-box;   
        div {
            @include position($t:50%,$l:8%,$r:8%);
            transform: translateY(-50%);
        }
    }
    &__img-box {
        position: relative;
        width: 50%;
        padding-top: 33.75%; 
        font-size: 0;
        overflow: hidden;
    }
    &__img {
        @include position($t:0,$l:0);
        width: 100%;
        height: 100%;
        background:url(../img/main_img.jpg) no-repeat 50% 50%;
        background-size: cover;
        transition: 0.4s;
        &[class*=--img02] {
            background:url(../img/main_img_02.jpg) no-repeat 50% 50%;
            background-size: cover;
        }
        &[class*=--img03] {
            background:url(../img/main_img_03.jpg) no-repeat 50% 50%;
            background-size: cover;
        }
        &[class*=--img04] {
            background:url(../img/main_img_04.jpg) no-repeat 50% 50%;
            background-size: cover;
        }
        &--bg{
            @include position($t:0,$l:0);
            width: 100%;
            height: 0;
            background: $bg-gradient;
            opacity: 0;
            transition: 0.4s;
        }
    }
    &__icon {
        @include position($t:0,$l:50%);
        transform: translate(-50%,-50%);
        font-size: 5rem;
        color: $color-white;
        opacity: 0;
        transition: 0.4s;
    }
    &__title {
        margin-bottom: 1.6rem;
        font: {
            size: 1.6rem;       
        }
    }
    &__txt {
        font: {
            size: 1.2rem;    
        }
        line-height: 2.2rem;
        color: $color_gray_03;
        &--hide {
            display: none;
        }
    }
    &__btn {
        display: none;
    }
}
.online-inquiry-form {
    &__img--bg {
        padding: {
            top:3.5rem;
            bottom: 1.5rem;
        };
        background: url(../img/inquiry_img.jpg) no-repeat 50%;
        background-size: auto 100%;
        h2 {
            margin-bottom: 3rem;
            font-size: 2.6rem;
            color: $color-white;
            text-align: center;
        }
    }
    form {
        padding: 0 1.6rem;
    }
    &--left {
        width: 100%;
        input {
            width: 100%;
            background: transparent;
            border: none;
            border-bottom: 1px solid $color-gray_02;
            border-bottom-color: rgba(255,255,255,0.2);
            outline: none;
            &:focus {
                &::-webkit-input-placeholder {
                    color: transparent
                }
                &::-moz-placeholder{
                    color: transparent
                }
                &:-ms-input-placeholder {
                    color: transparent
                }
                &::-ms-input-placeholder {
                    color: transparent
                }
            }
            &[type="text"]{
                padding: 1.6rem 0;
                color: $color-white;
                opacity: 0.7;
                &:focus {
                    opacity: 1;
                    color: $color-white;
                }
            }
            
            &::placeholder {
                font-weight: bold;
                color: rgba(255,255,255,0.8);
            }
        }   
    }
    &--right {
        span {
            display: block;
            width: 100%;
            padding: 1.6rem 0;
            font-size: 1.3rem;
            color: rgba(255,255,255,0.6);
        }
        textarea {
            width: calc(100% - 0.6rem);
            height: 16rem;
            border: 1px solid $color-gray_02;
            font-weight: bold;
            border-color: rgba(255,255,255,0.2);
            background: rgba(255,255,255,0.2);
            color: $color-white;
            resize: none;
            outline: none;
        }
    }
    &__check-box {
        padding: 2rem 0;
        font-size: 1.2rem;
        text-align: center;
        color: rgba(255,255,255,0.6);
        p {
            display: inline-block;
            vertical-align: 2px;
            a {
                color: rgba(255,255,255,0.6);
                text-decoration: underline;
            }
        }
    }
    &__btn {
        width: 100%;
        height: 5rem;
        border: none;
        font-weight: bold;
        font-size: 1.6rem;
        background: $bg-gradient;
        color: $color-white;
        letter-spacing: 0.375em;
    }
}


@include tablet {
    .main-content {
        display: flex;
        margin-top: 10rem;
        overflow: hidden;
        &__banner {
            position: relative;
            width: 50%;
            height: 30rem;
            padding: 3rem ;
        }   
        &--right:hover {
            transform: scale(1.1);
        }
        &__title {
            padding-bottom: 10rem;
        }
        &__txt {
            &--big {
                padding-bottom: 2.6rem;
            }
        }
        &__icon {
            display: block;
            @include position($r:3rem,$b:3rem);
            font: {
                size: 4rem
            };
        };
    };
    .main-info-con {
        margin: 5rem auto 10rem auto;
        &__list {
            width: 100%;
        }
        &__item {
            display: block;
            float: left;
            width: 25%;
        }
        &__img-box {
            width: 100%;
            padding-top: 67.5%; 
        }
        &__box {
            width: 100%;
            padding-top: 67.5%;
            box-sizing: border-box;
            &::after{
                display: inline-block;
                content: "";
                width: 2rem;
                height: 1rem;
                background: url(../img/main_link_arrow_bottom.png) no-repeat 50% 50%;
                background-size: contain;
            }
            &--odd {
                &::after{
                    @include position($t:-1rem, $l:9%);
                    transform: rotate(180deg);
                }
            }
            &--even {
                &::after{
                    @include position($b:-1rem,$l:9%);
                }
            }
        }
        &__title {
            font: {
                size: 2rem;       
            }
        }
        &__txt {
            font: {
                size: 1.5rem;
            }
            &--hide {
                display: none;
            }
        }
    }
    .online-inquiry-form {
        width: 100%;
        &__img--bg {
            position: relative;
            padding: {
                top:8rem;
                bottom: 19rem;
            };
            background: url(../img/inquiry_img.jpg) no-repeat 50% 50%;
            background-size: cover;
            background-attachment: fixed;
            h2 {
                margin-bottom: 9rem;
                font-size: 3.6rem;
            }
        }
        form {
            max-width: 110rem;
            margin: 0 auto;
            padding: 0;
        }
        &--left {
            width: 47.5%;
            float: left; 
            padding: 1.6rem 0;
        }
        &--right {
            width: 47.5%;
            float: right;
        }
        &__check-box {
            padding: 3rem 0 0 0;
            font-size: 1.4rem;
        }
        &__btn {
            @include position($b:-5rem,$l:50%);
            transform:translateX(-50%);
            width: 30rem;
            height: 10rem;
            cursor: pointer;
            outline: none;
        }
    }
}

@include desktop {
    .main-content {
        &__banner {
            padding: 5rem ;
            cursor: pointer;
            &--right:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
        &__title {
            padding-bottom: 9rem;
        }
        &__txt {
            font: {
                size: 1.8rem;
            };
            &--big {
                padding-bottom: 2.6rem;
                font: {
                    size: 4rem
                };
            }
        }
        &__icon {
            transition: 0.4s;
            &:hover {
                transform: rotate(90deg);
            }
        };
    };
    .main-info-con {
        &__item {
            cursor: pointer;
            &:hover {
                .main-info-con__img {
                    transform: scale(1.1);
                }
                .main-info-con__img--bg {
                    height: 100%;
                    opacity: 0.5;
                }
                .main-info-con__icon {
                    top:50%;
                    opacity: 1;
                }
            }
        }
        &__img-box {
            padding-top: 58.6854%;
        }
        &__box {
            padding-top: 58.6854%;
        }
        &__txt {
            &--hide {
                display: block;
            }
        }
        &__btn {
            display: block;
            margin-top: 3rem;
            width: 3.6rem;
            height: 3.6rem;
            border: 1px solid $color-gray_02;
            color: $color-gray_02;
            font-size: 2rem;
            line-height: 3.6rem;
            text-align: center;
        }
    }
}
