@import "./variables";

@mixin desktop {
    @media (min-width: #{$breakpoint_desktop}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$breakpoint_tablet}) {
        @content;
    }
}
@mixin moblie {
    @media (min-width: #{$breakpoint_moblie}) {
        @content;
    }
}

@mixin line-btn {
    display: inline-block;
    width: 2rem;
    height: 0.1rem;
    margin-left: 0rem;
    background: $color-white;
    transition: 0.4s;
}

@mixin position(
    $p: absolute,
    $t: null,
    $b: null,
    $l: null,
    $r: null,
) {
    position: $p;
    top: $t;
    bottom: $b;
    left: $l;
    right: $r;
}

@mixin roboto {
    font-family: 'Roboto', sans-serif;
}
