$color-dark: #222222;
$color-gray: #aaa;
$color-gray_02: #999;
$color-gray_03: #666;
$color-accent: #ed8942;
$color-accent_02: #ED1C2A;
$color-white:#fff;
$bg-gray_02: #EEE;
$bg-gradient: linear-gradient(90deg, #FF6F38 0%, #EF433F 100%);

$breakpoint_desktop : 1250px;
$breakpoint_tablet : 800px;
$breakpoint_mobile : 500px;